<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - 电英杀 v0.01</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.4-dist/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'content/site.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'content/size.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'content/chat.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'content/color.css' %}" />
    <script src="{% static 'scripts/modernizr-2.6.2.js' %}"></script>
    {% block cssList %}{% endblock %}
</head>

<body style="padding:0;">
    <div class="container">
{% block content %}{% endblock %}
        <hr/>
        <footer>
            <p>&copy; {{ year }} - 大连理工大学电子英强</p>
        </footer>
    </div>

    <script src="{% static 'scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.4-dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'scripts/respond.js' %}"></script>
{% block scripts %}{% endblock %}

</body>
</html>
