.bg-green {
    background-color: #CCFF99;
}

.bg-blue {
    background-color: #99CCFF;
}

.bg-blue-dark {
    background-color: #0066CC;
}

.bg-yellow {
    background-color: #FFFF00;
}

.bg-purple {
    background-color: #666699;
}

.bg-pink {
    background-color: #FF6666;
}

.bg-orange {
    background-color: #FF6600;
}

.btn-blue {
    background-color: #337ab7;
    width: 60px;
    height: 32px;
    border: 0px;
    color: white;
    display: inline;
    margin: 0px;
}
