{% extends "layouts/base.html" %}

{% block cssList %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'content/gameHome.css' %}" />
{% endblock %}

{% block content %}

<div class="container">
    <div class="bg-primary f16 p10 mb10">
        电英杀-游戏房间
    </div>
    <div class="row" style="height:500px;">
        <div class="col-md-9">
           <div class="game-user-list">
               <table class="ml50">
                   <tr>
                        <td><div class="user-card no-user"></div></td>
                        <td><div class="user-card no-user"></div></td>
                        <td><div class="user-card no-user"></div></td>
                        <td><div class="user-card no-user"></div></td>
                   </tr>
                   <tr>
                        <td><div class="user-card no-user"></div></td>
                        <td><div class="user-card no-user"></div></td>
                        <td><div class="user-card no-user"></div></td>
                        <td><div class="user-card no-user"></div></td>
                   </tr>
               </table>
           </div>
        </div>
        <div class="col-md-3" style="height:500px;">
            <div class="right">
                <div class="p15 pt30">
                    <div class="game-chat" id="chatList">

                    </div>
                    <form class="form-inline mt10" id="chatForm">
                        <input type="text" class="form-control" id="chatInput"/>
                        <button type="submit"class="btn-blue" id="submitChat">发言</button>
                    </form>
                </div>
                <div class="h100 w100 bc">
                    <button class="btn btn-primary w100">开始游戏</button>
                </div>
                
            </div>
        </div>
    </div>
    <div id="sid" class="hidden">{{sid}}</div>
    <div id="user_data" class="hidden">{{user_data}}</div>
</div>
    
{% endblock %}

{% block scripts %}
    {% load staticfiles %}
    <script src="{% static 'myScripts/gameHome.js' %}"></script>
    <script src="{% static 'myScripts/chat.js' %}"></script>
{% endblock %}